@import "tailwindcss";

a {
  font-weight: 500; /* font-medium */
  color: #059669; /* text-emerald-600 */
  text-decoration: none;
  transition: text-decoration 0.2s;
}

/* Hover effect */
a:hover {
  text-decoration: underline;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  a{
    color: #34d399; /* dark:text-emerald-400 */
  }
}

h2{
  font-size: larger;
  font-weight: bolder;
}
h3{
  font-size: medium;
  font-weight:bold;
}